@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary-color : #F6422E;
    --white-color : #fff;
    --black-color : #000;
    --grey-color : #FFDBEB;

}

.grid {
    max-width: 1200px;
    margin: 0 auto;
}